.App {
  text-align: center;
}

.appContainer{
 background-color: #1a1a1a;
 background-color: #1a1a1a;
    height: 100vh;
    overflow: auto;
    position: relative;
    /* height: auto; */
    min-height: 100% !important;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;

 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color: rgb(209, 209, 209);
  cursor: pointer !important;
}
.logeContainer{
  width: 5vw;
  :hover{
    transform: scale(1.2);
    transition: transform .25s ease; 
  }
}
