.App {
  text-align: center;
}

.appContainer{
 background-color: #1a1a1a;
 background-color: #1a1a1a;
    height: 100vh;
    overflow: auto;
    position: relative;
    /* height: auto; */
    min-height: 100% !important;
}