.ConentImage{
 
    border-radius: 7px;
   width: 17vw; 
  height: 19vh;
    
}

.contentWarrper{
  width: 20vw;
  height: 24vh;
}
.contentWarrper:hover{
  transform: scale(1.2);
  transition: transform .25s ease; 
  cursor: pointer;
}
/* .ConentImage:hover
{
  border-radius: 7px;

   width: 20vw;
  height: 24vh;
  /* margin-right: 20vw; */
  /*z-index: 10;*/
  /* position: inherit;
  margin-right: 2vw; 
  transform: scale(1.2);
  transition: transform .25s ease; 
} */
.nameDiv{
  font-size: larger;
  color: rgb(211, 209, 209);
}
.container{
  margin-bottom: 2vh;
  width: 18vw;
  height: 25vh;
  cursor: pointer;
  position: relative;
}
/* .container:hover{
  position: inherit;
  margin-right: 2vw; 
  transform: scale(1.2);
  transition: transform .25s ease;
} */
