.CarouselDiv{
    height:50vh;
    width: 80vw;
    margin: auto;
}
.swiper-pagination-bullet-active {
    background-color: rgb(202, 0, 0) !important;
}
.swiper-pagination-bullet{
    background-color: rgb(209, 209, 209) !important;
}
