.modal {
    position: fixed;
    top: calc(60vh - 50%);;
    right: 22%;
    width:55vw;
    height: 85vh;
   
    background:#1a1a1a;
    z-index: 1000;
   // box-shadow:6px 5px #8181814f ;
    border-radius: 7px;
    overflow:scroll;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    
       
  }
  .seriesImage{
      width: 70vw;
      height: 50vh;
  }
  .closeBtn{
    width: 2vw;
    height: 2vw;
    padding: 0.4% 1.5% 0.6% 1.5%;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 95%;
    top: 2%;
    background-color: #494949;
    color: #b8b8b8;
    padding: inherit;
      &:hover{
        color: rgb(255, 255, 255);
      }
  }
  .header{
      color:rgb(255, 255, 255);
      display: inline-block;
  }
  .seriesSelectionContainer{
    display: inline-block;
    width: 120;
    float:right;
    margin-right: 4vw;
  }

  .headerContainer{ 
    margin-top: 10vh;
  }
  
  .modal-main {
    position:fixed;
    background: rgb(255, 255, 255);
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  .ReactModal__Overlay ,.ReactModal__Overlay--after-open{
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.6) !important;
  
  }

  .dataContainer{
      margin-left: 2vw;
      margin-top: 3vh;
  }

  // .ReactModal__Overlay{
  //   z-index: 2000;
  //   background-color: rgba(0, 0, 0, 0.6) !important;
  // }
  // .ReactModal__Overlay--after-open{ z-index: 2000;
  //   background-color: rgba(0, 0, 0, 0.6) !important;}