.modal {
    position: fixed;
    top: calc(60vh - 50%);;
    right: 22%;
    width:55vw;
    height: 85vh;
   
    background:#1a1a1a;
    z-index: 1000;
   // box-shadow:6px 5px #8181814f ;
    border-radius: 7px;
    overflow:scroll;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    
       
  }
  .seriesImage{
      width: 100vw;
      height: 50vh;
  }
  .close-btn{
    width: fit-content;
      height:  fit-content;
      padding: 0.5% 1% 0.5% 1%;
      font-size: 1.5em;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      position: absolute;
      left: 95%;
      top: 2%;
      background-color: #494949;
      color: rgb(184, 184, 184);
      &:hover{
        color: rgb(255, 255, 255);
      }
  }
  
  .modal-main {
    position:fixed;
    background: rgb(255, 255, 255);
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  .ReactModal__Overlay ,.ReactModal__Overlay--after-open{
      z-index: 2000;
      background-color: rgba(0, 0, 0, 0.6) !important;
  
  }